<br />
<br />
<br />
<div class="container mt-5">
    <div *ngIf="!emailSent">
        <h1 class="display-4">Forgot Password</h1>
        <hr>
        <br />
        <div class="row">
            <p class="col-md-12" >Please enter your e-mail address in form and your information will be e-mailed to you.</p>
          </div>
        <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email">Email</label>
                <div class="col-md-9">
                    <input type="text" id="email" class="form-control" ngModel name="email" placeholder="Your Email"
                        required #email="ngModel" [pattern]=emailPattern />
                    <small class="text-danger" *ngIf="!email.valid && email.touched">Invalid email!</small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary px-5" [disabled]="!forgotPasswordForm.valid"> Send Email
            </button>
        </form>
    </div>
    <br>
    <div class="row">
        <a class="col-md-3" routerLink="/login">Return to Login Page</a>
      </div>
    <div *ngIf="emailSent" class="pl-5 mx-auto" style="width: 200px;">
        <div class="loader" data-toggle="tooltip" data-placement="top" title="Sending email..."></div>
    </div>
</div>