<div id="carouselExampleInterval" class="carousel slide carousel-fade mb-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img src="./assets/images/travel.jpg" class="d-block w-100 height-carasol">
      <div class="carousel-caption text-center">
        <p class="heading-font">Nagarro Travel Portal</p>
        <p class="heading2-font">Travel Ticket!</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="./assets/images/visa.jpeg" class="d-block w-100 height-carasol">
      <div class="carousel-caption text-center">
        <p class="heading-font">Nagarro Travel Portal</p>
        <p class="heading2-font">Visa Ticket!</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="./assets/images/work.jpg" class="d-block w-100 height-carasol">
      <div class="carousel-caption text-center">
        <p class="heading-font">Nagarro Travel Portal</p>
        <p class="heading2-font">Work Permit Ticket!</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="./assets/images/hotel.jpg" class="d-block w-100 height-carasol">
      <div class="carousel-caption text-center">
        <p class="heading-font">Nagarro Travel Portal</p>
        <p class="heading2-font">Hotel Ticket!</p>
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container mt-5">
    <div class="alert alert-primary" role="alert">
      Covid has been in its second phase and the cases are raising
      rapidly.Please be sure to check the last 30 days graph to which ever
      country your travelling.
     </div>
  <app-covid></app-covid>
  </div>

